<form action="/go" method="POST">
    <input name="lat" type="text" placeholder="Latitude">
    <br>
    <input type="text" name="lng" placeholder="Longitude">
    <br>
    <input type="submit" name="Go" value="Go">
</form>