<div *ngIf="loading">
	<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
	<span class="sr-only">Loading...</span>
</div>

<div *ngIf="!loading">
	<h1>{{restaurant.getName()}}</h1>
	<img [src]="restaurant.getImageUrl()" alt="A picture of the restaurant">
	<h2>Categories</h2>
	<ul>
		<li *ngFor="let category of restaurant.getCategories()">
			<button>
				<i class="fa fa-times" aria-hidden="true"></i>
			</button>
			<span>{{ category.title }}</span>
			<button>
				<i class="fa fa-check" aria-hidden="true"></i>
			</button>
		</li>
	</ul>
	<div>
		<h2>Price</h2>
		<button>
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>
		<span>{{ restaurant.getPrice() }}</span>
		<button>
			<i class="fa fa-check" aria-hidden="true"></i>
		</button>
	</div>
	<div>
		<h2>Distance</h2>
		<button>
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>
		<span>{{ restaurant.getDistance() / 1000 | round: 1 }} km</span>
		<button>
			<i class="fa fa-check" aria-hidden="true"></i>
		</button>
	</div>
</div>