/* You can add global styles to this file, and also import other style files */

* {
}

*, .pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.loading {
    text-align: center;
    height: auto;
    margin-top: calc(50vh - 1.5em);
}

#logo {
    font-size: initial;
    /*padding: 0.5em 10px;*/
}

.content {
    padding: 50px;
    box-shadow: 0 0 10px #000000;
    box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*

Styles pertaining to the nav bar at the top

*/

nav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #F60025;
    color: #FFF;
    box-shadow: 0 0 10px #000;
    z-index: 999;
}

nav .pure-menu-heading {
    padding: 0;
    margin: 0;
    color: #FFF;
    vertical-align: initial;
}

nav a.pure-menu-heading:hover {
    box-shadow: inset 0 -1px 0 #FFF;
}

button {
    color: white;
}

.confirm {
    background-color: #F9A602;
}

.cancel {
    background-color: #F60025;
}

@media screen and (min-width: 0) {
    nav {
        height: 4em;
    }

    nav a.pure-menu-heading {
        font-size: 1.5em;
        /*padding: calc((4em - 1.5em) / 4) 10px;*/
    }

    #logo {
        height: 3em;
        padding: calc((4em - 3em) / 2) 10px;
    }

    .content {
        margin: 20px 10px;
    }

    .content:first-child {
        margin-top: calc(4em + 40px);
    }

    .content:last-child {
        margin-bottom: calc(4em + 10px);
    }
}

@media screen and (min-width: 35.5em) {

    
}

@media screen and (min-width: 48em) {

    nav a.pure-menu-heading {
        font-size: 2em;
        /*padding: calc((4em - 2em) / 4) 10px;*/
    }

    .content {
        margin: 20px 20px;
    }

    .content:first-child {
        margin-top: calc(4em + 40px);
    }

    .content:last-child {
        margin-bottom: calc(4em + 20px);
    }
    
}

@media screen and (min-width: 64em) {

}

@media screen and (min-width: 80em) {
    nav a.pure-menu-heading {
        font-size: 2.5em;
        /*padding: calc((4em - 3em) / 4) 10px;*/
    }

    .content {
        margin: 20px 40px;
    }

    .content:first-of-class {
        margin-top: calc(4em + 40px);
    }

    .content:last-child {
        margin-bottom: calc(4em + 40px);
    }
}