<div class="content">
	<h1 id="slogan">Find. Food. Faster.</h1>
	<p>Enough said.</p>
	<a routerLink="/go" class="pure-button">
		<i class="fa fa-cutlery" aria-hidden="true"></i> &nbsp; Take me to food
	</a>
</div>

<div class="content pure-g">
	<div class="pure-u-1 pure-u-md-1-2">
		<h1>What other restaurant finders show you:</h1>
		<img src="" alt="">
	</div>
	<div class="pure-u-1 pure-u-md-1-2">
		<h1>What we show you:</h1>
		<img src="" alt="">
	</div>
	<div class="pure-u-1">
		Instead of bombarding you with a list of amazing restaurants for you to sift through, 
		we show you these restaurants one at a time. If one of them picks your fancy then go for it! If it doesn't then
		let's try again.
	</div>
</div>

<div class="content">
	<h1>Our Data Providers</h1>
	<div class="pure-g">
		<div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-5">
			<img class="data-logo pure-img" src="https://s3-media3.fl.yelpcdn.com/assets/srv0/styleguide/24e1fe240f00/assets/img/brand_guidelines/yelp_fullcolor_outline.png" alt="Yelp logo">
			<p>The Yelp API provides us with restaurants near your search location. We use their data to find you your ideal restaurant.</p>
		</div>
		<div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-5">
			<img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_116x41dp.png" alt="" class="data-logo pure-img">
			<p>Whenever you provide an address like <em>123 Abc street</em>, we have to convert it into latitude/longitude using the Google Maps Geocoding API</p>
		</div>
	</div>
</div>