<div class="content pure-g">
	<div class="pure-u-1 pure-u-md-1-2">
		<h1 id="slogan">Find. Food. Faster.</h1>
		<p>Enough said.</p>
	</div>
	<div class="pure-u-1 pure-u-md-1-2" id="hover-container">
		<img src="/assets/spoon.svg" alt="A hovering spoon" id="spoon" class="pure-img">
		<img src="/assets/plate.svg" alt="A hovering plate" id="plate" class="pure-img">
		<img src="/assets/fork.svg" alt="A hovering fork" id="fork" class="pure-img">
	</div>
	<div class="pure-u-1">
		<a routerLink="/go" class="pure-button">
			<i class="fa fa-cutlery" aria-hidden="true"></i> &nbsp; Take me to food
		</a>
	</div>
</div>